<style>





  h3 {width:2rem;}
      h4 {
      color: #0099CC;
      font-size: 1.5rem;}
      a {color: #66CCFF;}

#jeremy{
  color: #0099CC;
  font-size: 1.5rem;
}
      #leftsection {
        width: 55%;
        float: left;
        font-family: sans-serif;
        text-align: justify;
          background: pink;
          font-size: 1rem;
          padding: 1% 1% 1% 10%;
        }
.sidecat{width: 100%}

        #rightsection {
          width: 20%;
          float: right;
          font-family: sans-serif;
          text-align: justify;
            background: blue;
            font-size: 1rem;
            padding: 1% 10% 1% 1%;
          }

header {
  width: 70%;
  height: 7rem;
  padding: 2% 20% 2% 10%;
    color: white;
    text-align: 5rem;
  font-size: 1rem;
    font-family: sans-serif;

    background: #0a7e8c;

}
      nav{
        width: 70%;
        background: #E8E8E8;
        padding: 1% 20% 1% 10%;
          text-align:left;
      }

      footer{
        clear: both;
        position: center;
        background: black;
        background-image: url("images/lesson04-mock4-footer-image.jpg");
        color: white;
        width: 30%;
        height: 25rem;
        padding: 1% 35% 1% 35%;
        text-align:center;
        float: bottom;


      }

        .navclass{
        color: black;
        font-size: 10px;
        font-weight: bold;
        padding: .3rem;
        font-family: sans-serif;
        text-decoration: none;


}
.footerclass{
color: white;
font-size: .7rem;
padding: .3rem;
font-family: sans-serif;
text-decoration: none;
}


      }
      .footerlogo {
          clear: both;
          margin: 5rem 0rem 5rem 0rem;
          width: 100%;
          padding: 1% 35% 1% 35%;
          z-index: 999;
      }

</style>
