<style>
  h3 {width:12rem;}
      h4 {color: #0099CC;}
      a {color: #66CCFF;}
section
{
  width: 60%;
  float: left;
  padding: 5px
  }
      aside {
          width: 35%;
          float: right;
          color: #303030;
        font-family: sans-serif;
      padding: 1px;
      margin: 1px;

      }
div {
  width: 100%;
  height: 4rem;
  padding: 20px;
  color: white;
  font-size: 4rem;
  text-align:center;
    background: #0489B1;
}
      .navclass{
width: 50%;
        background: moccasin;
        margin: 1em;
        padding: 1em;
        color: black;
        font-family: sans-serif;
        text-decoration: none;

      }
      .footer {

          clear: both;
          position: relative;
          margin-top: 1rem;
          width: 100%;
      }
      .footer1 {
          clear: both;
          position: inherit;
          margin-top: 1rem;
          width: 100%;
          z-index: 999;
      }

</style>
