<style>
  h3 {width:12rem;}
      h4 {color: #0099CC;}
      a {color: #66CCFF;}

section
{
  width: 50%;
  float: left;
  font-family: sans-serif;
  margin: 1rem 1rem 1rem 5rem;
  }
      aside {
          width: 35%;
          float: right;
          color: #303030;
        font-family: sans-serif;
      margin: 1rem 1rem 1rem 1rem;
      }

header {
  width: 100%;
  height: 8rem;
  padding: 2rem;
  color: white;
  font-size: 1rem;
    font-family: sans-serif;
  text-align:left;
    background: #367988;

}
      nav{
        width: 100%;
        background: #E8E8E8;
        padding: 1rem 1rem 1rem 1rem;
      }

        .navclass{
        color: black;
        font-size: 10px;
        font-weight: bold;
        padding: .2rem;
        font-family: sans-serif;
        text-decoration: none;
}

      .footer {

          clear: both;
          position: relative;
          margin-top: 1rem;
          width: 100%;
      }
      .footer1 {
          clear: both;
          position: inherit;
          margin-top: 1rem;
          width: 100%;
          z-index: 999;
      }

</style>
